[Unit]
Description=Alertd daemon server

[Service]
EnvironmentFile=-/etc/default/alertd-config
ExecStart=/usr/bin/alertd -c ${cpu} -m ${memory} -d ${disk}
Restart=on-failure
Type=simple
KillMode=process

[Install]
WantedBy=multi-user.target